html {
    -webkit-text-size-adjust: 100%;
}

body {
    position: relative;
    overflow-y: scroll;
    height: 100%;

}

@media (max-width: 400px) {

    html,
    body {
        overflow-x: hidden;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*eneme = nav*/

/*---START OF NAV---*/
eneme {
    display: flex;
    width: 100%;
    min-height: 58.4px;
    position: fixed;
    top: 0;
    background-color: #262C33;
    justify-content: space-around;
    z-index: 8;
}

.space {
    width: 160px;
}

eneme ul {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    align-items: center;
}

eneme a {
    position: relative;
    font-weight: 500;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-align: center;
    display: block;
    font-size: 16px;
    color: white;
    padding: 5px;
}

eneme a .aktib {
    font-weight: bolder;
}

eneme ul li {
    display: inline-block;
    position: relative;
    margin: 10px 2vw;
}

eneme ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

eneme ul li:hover:after {
    width: 100%;
}

eneme {
    width: 100%;
}


/* The off-canvas menu style */
.offcanvas {
    display: none;
    height: 100svh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0D0D0D;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 9;
}

.offcanvas ul {
    list-style-type: none;
    padding: 0;
}

.offcanvas ul li {
    padding: 10px 20px;
}

.offcanvas ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.offcanvas ul li a:hover {
    color: #8ecae6;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    position: fixed;
    top: 9.6px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0px 3px 0px 3px;
    cursor: pointer;
    z-index: 9;
}

/* Button to open/close the menu */
@media (max-width: 1200px) {
    .menu-toggle {
        display: block;
    }

    .offcanvas {
        display: initial;
    }

    eneme ul {
        display: none;
    }
}

/* .menu-toggle:hover {
    color: #182C3E;
}

.menu-toggle:active {
    color: #000;
} */






/* Content that will be pushed to the right when menu is open */
.content {
    margin-left: 0;
    transition: margin-left 0.3s;
    padding: 20px;
}

.open .content {
    margin-left: 250px;
}

/* When the menu is open */
.offcanvas.open {
    width: 250px;
}

/*---START OF SECTION---*/
.section {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 70px 5vw;
    gap: 5vh;
    justify-content: space-between;
}

@media (max-width: 1402px) {
    .section {
        padding: 90px 5vw;
    }
}

/*
.section:nth-child(odd) {
    background-color: lightcyan;
}

/*---END OF SECTION---*/

/*---START OF ABOUT---*/

#about {
    /* background: #3A536B url('img/vector1.png') center/50% repeat; */
    background: #3A536B;
}

#about h1 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cnukami {
    padding: 2% 10%;
    background-color: rgb(248, 248, 235);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#about h3 {
    font-size: 1em;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#about p {
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/*---END OF ABOUT---*/

/*---START OF FEES---*/
#fees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background: #182C3E url('img/vector2.png') center/50% repeat; */
    padding: 90px;
    background: #182C3E
}

#fees h1 {
    display: block;
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-bottom: 4rem; */
}

#fees .feesbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.local {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #CCDCFF;
    color: #087762;
    font-size: 1.1em;
    text-align: center;
}

.foreign {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #CCDCFF;
    color: #087762;
    font-size: 1.1em;
    text-align: center;
}

#fees h2 {
    font-size: 1.9em;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 20px;
}

#fees h3 {
    font-size: 1.5em;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#fees p {
    font-size: 1em;
    color: black;
    text-align: justify;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    line-height: 1.5;
}

/*---END OF FEES---*/

/*---START OF RESEARCH CATEGORY---*/

#research,
#extension {
    background-color: #CCDCFF;
}

#research a,
#extension a {
    color: #8ecae6;
}

#research h1 {
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#research h2 {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#research h3 {
    font-size: 1.5em;
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}


#research p {
    font-size: 1em;
    color: #fff;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    line-height: 1.5;
}

.researchGrid ul {
    padding: 0 30px;
}

#research ul li {
    list-style: disc;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #fff;
    padding-top: 2vh;
}

.listahan {
    margin: 0px 50px;
    padding-bottom: 20px;
    font-size: 1.1em;
}

.researchGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 5vh;
}

.researchGrid div {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #3A536B;
    color: #087762;
    font-size: 1.1em;
    text-align: center;
    padding: 2vh 2vw;
}

.researchBaks {
    padding: 2% 10%;
    background-color: #182C3E;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1250px) {
    .researchG4 {
        grid-column: 2;
        grid-row: 2;
    }
}

@media (max-width: 600px) {
    .researchG4 {
        grid-column: initial;
        grid-row: initial;
    }
}

/*---END OF RESEARCH CATEGORY---*/

/*---START OF EXTENSION CATEGORY---*/

#extension h1 {
    font-size: 2.5em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#extension p {
    font-size: 1em;
    color: #fff;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    line-height: 1.5;
}

.bekstensyon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 5vh;
}

@media (max-width: 910px) {
    .bekstensyon {
        grid-template-columns: minmax(270px, 1fr);
    }
}

.bekstensyon ul {
    padding: 0 30px;
}

.beks {
    padding: 2vh 2vw;
    background-color: #182C3E;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.1em;
}

#extension h2 {
    text-align: center;
    font-size: 1em;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.eksBaks {
    padding: 2% 10%;
    background-color: #3A536B;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#extension .kaliwa {
    text-align: left;
}

#extension h3 {
    font-size: 1.5em;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#extension ul li {
    list-style: disc;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #fff;
    padding-top: 2vh;
}

.beksabs {
    font-size: 1.1em;
    padding: 10%;
    background-color: rgb(248, 248, 235);
    padding-top: 2%;
    padding-bottom: 3%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
    margin-left: 30px;
}

.beksabs li {
    font-size: 1em;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

/*---END OF EXTENSION CATEGORY---*/

/*---START OF COLLABORATING ORGANIZATION---*/

#collab {
    background-color: #3A536B;
    padding-left: 0;
    padding-right: 0;
}

#collab h1 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes kineme {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

.orgyarn {
    overflow: hidden;
    white-space: nowrap;
}

.lagous {
    display: inline-block;
    /* animation-timeline: scroll(root);
    animation-name: kineme;
    animation-timing-function: linear; */
}

.orgyarn:nth-child(2) .lagous {
    animation-direction: reverse;
}

.lagous {
    animation: 15s kineme infinite linear;
    animation-timeline: initial;
}


.lagous img {
    width: 200px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    margin: 2vw;
    border-radius: 50%;
    background-color: white;

}

.lagous img:hover {
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

/*---END OF COLLABORATING ORGANIZATION---*/

/*---START OF EPOSTER---*/

#eposters {
    background-color: #182C3E;
}

#eposters h1 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#eposters h2 {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.boxbox {
    padding: 2% 10%;
    background-color: #CCDCFF;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#eposters ol {
    list-style: decimal;
}

#eposters li {
    list-style: inherit;
    display: list-item;
    font-size: 1em;
    color: black;
    text-align: justify;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2vh;
}

#eposters ul {
    list-style: circle;
    padding-left: 20px;
}

/*---END OF EPOSTER---*/

/*---START OF FOOTER---*/
.paa {
    background-color: #262C33;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo-group {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.logo-group img {
    width: 40px;
    height: 40px;
    margin: 0 20px;
}

.logo-group a {
    transition: 0.5s ease-out;
}

.logo-group a:hover {
    scale: 1.1;
}

/* .paa {
    display: block;
    width: 100%;
    justify-content: center;
} */


.paa ul:nth-child(2) {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
}

.paa ul li {
    display: inline-block;
    padding: 5px 2%;
}

.paa ul li a {
    position: relative;
    font-weight: 500;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-align: center;
    display: block;
    font-size: 16px;
    color: white;
    padding: 5px;
}

.paa ul li {
    border-right: 1px solid white;
}

.paa ul li:last-child {
    border-right: none;
}

.paa ul:nth-child(2) a::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.paa ul:nth-child(2) a:hover::after {
    width: 100%;
}

.paa ul:last-child {
    display: flex;
    justify-content: center;
}

.paa ul:last-child li {
    font-weight: 500;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 16px;
    color: white;
}

/*---END OF FOOTER---*/

/*---START OF ANIMATIONS---*/
.scroll-watcher {
    height: 7px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #8ecae6;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}

.local,
.foreign {
    animation-timeline: view(70% 20%);
    animation-name: fade-in;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    filter: blur(5px);
}

.local {
    /* clip-path: inset(0 100% 0 0); */
    transform: translateX(-10%);
}

.foreign {
    transform: translateX(10%);
}

.researchGrid div {
    animation-timeline: view(70% 0%);
    animation-name: fade-in;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
}

.researchGrid .researchG2 {
    animation-delay: 400ms;
}

.researchGrid .researchG3 {
    animation-delay: 800ms;
}

.researchGrid .researchG4 {
    animation-delay: 1200ms;
}

/* .researchBaks{
    animation-timeline: view(60% 10%);
    animation-name: fade-in;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
} */

@keyframes fade-in {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translate(0, 0);
        clip-path: inset(0 0 0 0);
    }
}

@media (max-width: 500px) {

    .local,
    .foreign,
    .researchGrid div {
        animation: none;
        opacity: 1;
        filter: blur(0);
        transform: translate(0, 0);
    }
}

/* .researchG2 {
    transition-delay: 100ms;
}

.researchG3 {
    transition-delay: 200ms;
}

.researchG4 {
    transition-delay: 300ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0, 0);
} */

/*---END OF ANIMATIONS---*/

#home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #506199;
}

.containervid {
    position: relative;
    background-color: rgb(0, 0, 0, .4);
    width: 100%;
    display: flex;
}

.containervid:before {
    z-index: 5;
    content: '';
    position: absolute;
    background: rgba(173, 171, 171, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#home video {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 9;
    color: #fff;
    width: 100%;
    min-height: calc(90vh - 60px);
    padding: 10%;
    margin-top: 60px;

    animation-name: move-up;
    animation-timeline: view(20% 100%);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.center img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@keyframes move-up {
    100% {
        padding: 0;
        margin: 10px 0 0 3vw;
        width: 150px;
        filter: drop-shadow(0 0 .5px rgb(174, 217, 217));
        /* min-height: auto; */
    }
}

@media (max-width: 1364px) {
    @keyframes move-up {
        100% {
            padding: 0;
            margin: 20px 0 0 0;
            width: 150px;
        }
    }
}

@media (max-width: 1200px) {
    .center {
        animation: none;
        position: absolute;
        z-index: 6;
        align-items: center;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 2em !important;
    }
}